body {
	background-image: url(./cat.webp);
	background-size: 135%;
}

h1 {color: #6495ED;}
h2 {color: #808000;}
h3 {color: #008080;}

.slide {
	width:800px;height:600px;
	display: block;
	padding: 40px 60px;

	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

	color: rgb(102, 102, 102);
	opacity: 0.95;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -1px;
}

.last-slide {
	width:800px;height:600px;
}

div.code {
	font-family: Consolas, Courier New;
	border: 1px solid black;
	background-color: lightgray;
}

.right {
	text-align: right;
}

table.types,
table.types td {
	vertical-align: top;
}

table.types td.img img {
	max-height: 110px;
}

table.types td.type {
	font-family: Consolas, Courier New;
	font-weight: bold;
	color: darkgray;
	padding-right: 10px;
}

table.table td,
table.table th,
.pagedtable-footer {
	font-size: 10pt !important;
}

td.sources {
	font-size:80%;
	text-align:center;
}

p.ref {
	font-size: 60%;
	color: brown;
}

p.ref::before {
	content: "Quelle: "
}

thead td {
	font-weight: bold;
	border-bottom: 1px solid black;
}

div.paging {
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 60%;
}